# Lecture 3

## File Reading

#### Only reads a line

In [1]:
f = open("data.txt",'r')
print(f.readline())

hello how are you

#### Reads two lines

In [6]:
f = open("data.txt",'r')
print(f.readline())
print(f.readline())

hello how are you

My name is Istvan

#### Reads all lines and stores them in a list

In [3]:
f = open("data.txt",'r')
print(f.readlines())

['hello how are you\n', 'My name is Istvan']

#### Print Enire Contents of the file

In [4]:
f = open("data.txt",'r')
contents=f.read()
print(contents)

hello how are you
My name is Istvan

#### Parse each line through a for loop

In [7]:
f = open("data.txt",'r')
for line in f:
    print(line)
f.close()

hello how are you

My name is Istvan

## File Reading "with"
The **“with”** statement closes the file automatically. A more
Pythonic implementation.

In [9]:
with open("data.txt",'r') as f:
    for line in f:
        print(line)

hello how are you

My name is Istvan

File Writing with the **"w"** attribute.

In [13]:
words = ["line one","line two","line three","line four"]
with open("data1.txt", "w")as f:
    for word in words:
        f.write(word+'\n')

## Reading a **CSV** file.

In [11]:
import csv
with open("data.csv", "r") as f:
    reader = csv.reader(f)
    for row in reader:
       print(row)

['Auckland', '11:00', 'Sunny']
['Wellington', '12:00', 'Raining']

## Writing a **CSV** File.

In [12]:
import csv
input_file = open("data.csv", 'r')
reader = csv.reader(input_file)
output_file = open("test_write.csv",'w')
writer = csv.writer(output_file , delimiter=" ",quotechar=' ')
for row in reader:
    writer.writerow(row)
input_file.close()
output_file.close()

#### Classes

In [14]:
class MyClass:
    def __init__(self,x,y=1.0):
        self.x=int(x)
        self.y=int(y)
    def product(self):
        return self.x*self.y

In [15]:
m=MyClass(2,4)

In [16]:
m.product()

8

In [18]:
p=MyClass(5)

In [19]:
p.product()

5

In [20]:
m.product()

8

In [21]:
MyClass.product(m)

8

In [23]:
MyClass.product(p)

5

#### Modules

In [25]:
import math
math.cos(math.pi)

-1.0

In [26]:
math.cos.(pi)

SyntaxError: invalid syntax (<ipython-input-26-d5a1f1dbdf0c>, line 1)

In [27]:
from math import cos, pi
cos(pi)

-1.0

In [28]:
from math import *
sin(pi)

1.2246467991473532e-16

#### Numpy Arrays
Lists are OK for small one dimensional data but not good for **arithmatic operations (+,-,*,..)**.

In [29]:
a = [[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]
b = [[11, 12, 13, 14, 15], [16, 17, 18, 19, 20]]
print(b[0])
print(b[1][2:4])
c=a+b
print(c)

[11, 12, 13, 14, 15]
[18, 19]
[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]]

## Creating Arrays
To create a Numpy array of all **zeros** we can use Numpy's **zeros()** function.

In [30]:
import numpy as np
a=np.zeros(3)
a

array([0., 0., 0.])

let's use the function **type()** to obtain the data type.

In [31]:
type(a)

numpy.ndarray

Arrays can also be created by list or tuples. More on arrays can be found here https://docs.python.org/3/library/array.html

In [32]:
a=np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

The numpy function **ones()** can create an array with all ones.

In [33]:
a = np.ones(3)
b = np.ones([3,3])
print("output for a:", a)
print("output for b:", b)

output for a: [1. 1. 1.]
output for b: [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

The nupmy function for **empty()** creates a quick array with random values, by executing the cell a few times you will not the values change.

In [34]:
d=np.empty([2,2],dtype=int)
d

array([[93883957698736,              0],
       [             0,              0]])

In our previous example we tried adding to list together, with them only being concatenated. In this next example we will create a Numpy array to see what our results will be.

In [35]:
a=np.array([[1,2,3],[3,4,5]])
b=np.array([[1,2,3],[3,4,5]])
c=a+b
print(c)

[[ 2  4  6]
 [ 6  8 10]]

The numpy function **arange()** is similar to the funtion **range()**.

In [36]:
q = np.arange(5)
q

array([0, 1, 2, 3, 4])

## Creating Arrays
The numpy function **linspace()** can generate equal spaced elements. In this example our start range is 1 and our finish range is 10, with three equally space values. Experiment with other values.

In [37]:
import numpy as np
a = np.linspace(1,10,3)
a

array([ 1. ,  5.5, 10. ])

A 2D array example.

In [38]:
import numpy as np
z = np.array([[1,2],[4,5]])
z

array([[1, 2],
       [4, 5]])

To find out the shape of this array we can use the **shape** function.

In [39]:
z.shape

(2, 2)

In [40]:
print(np.shape(z))

(2, 2)

## Array Indexing
Elements of arrays are accessed using **[ ]** brackets.

In [41]:
import numpy as np
z = np.linspace(1,2,5)
z

array([1.  , 1.25, 1.5 , 1.75, 2.  ])

For flat arrays indexing is the same as Python sequences.

In [42]:
z[0]

1.0

In [43]:
z[0:2]

array([1.  , 1.25])

In [44]:
z[-1]

2.0

## 2d Indexing
Lets look at an example of 2D array.

In [45]:
import numpy as np
l = np.array([[1,2],[3,4]])
l[0,0]

1

In [46]:
l[1,1]

4

In [47]:
l[1][1]

4

In [48]:
l[0,:]

array([1, 2])

## Array I/O

In [49]:
import numpy as np
arr=np.array([[1,2,3],[4,5,6]])
np.savetxt(fname="mydata.txt", X=arr, fmt="%d")
loaded_arr = np.loadtxt(fname="mydata.txt")

## Reshaping Arrays

In [50]:
import numpy as np
a = np.arange(6) # 1d array
a

array([0, 1, 2, 3, 4, 5])

In [51]:
# reshape the array
b = np.arange(6).reshape(3, 2) # 2d array
b

array([[0, 1],
       [2, 3],
       [4, 5]])

In [52]:
import numpy as np
c = np.arange(24).reshape(2, 3, 4)
c

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

## Array Attributes

In [59]:
c.ndim

3

In [60]:
c.shape

(2, 3, 4)

In [61]:
c.size

24

In [62]:
c.dtype

dtype('int64')

## Array Methods

In [63]:
s1 = np.arange(6)
s1

array([0, 1, 2, 3, 4, 5])

In [64]:
s2=s1.astype(float)
s2

array([0., 1., 2., 3., 4., 5.])

In [65]:
s3=s2.copy()
s3

array([0., 1., 2., 3., 4., 5.])

In [66]:
s2[2]=73.88

In [67]:
s2

array([ 0.  ,  1.  , 73.88,  3.  ,  4.  ,  5.  ])

In [68]:
s3

array([0., 1., 2., 3., 4., 5.])

In [69]:
a=np.array([4,3,2,1])
a.sort()
a

array([1, 2, 3, 4])

In [70]:
print(a.sum())

10

In [71]:
print(a.mean())

2.5

In [72]:
print(a.min())

1

In [73]:
print(a.max())

4

In [74]:
print(a.argmax())

3

In [75]:
print(a.cumsum())

[ 1  3  6 10]

In [76]:
print(a.cumprod())

[ 1  2  6 24]

In [77]:
print(a.var())

1.25

In [78]:
print(a.std())

1.118033988749895

In [79]:
print(a.transpose())

[1 2 3 4]

#### searchsorted()

In [80]:
test = np.linspace(2, 4, 5)
print(test)

[2.  2.5 3.  3.5 4. ]

In [81]:
test.searchsorted(2.2)

1

In [82]:
test.searchsorted(2.5)

1

In [83]:
test.searchsorted(2.6)

2

In [84]:
a=np.random.rand(3,2)
a

array([[0.46335002, 0.23645808],
       [0.89327215, 0.96862561],
       [0.15155515, 0.45393275]])

## Array Methods - Random Numbers

In [85]:
a = np.random.randint(2, size=10)
a

array([1, 0, 1, 0, 1, 1, 1, 1, 1, 1])

## Array Operationg: Algebraic

In [86]:
v1 = np.arange(0.6, 1.6, 0.1)
print(v1)

[0.6 0.7 0.8 0.9 1.  1.1 1.2 1.3 1.4 1.5]

In [87]:
v2 = np.arange(40.0, 50.0, 1.0)
print(v2)

[40. 41. 42. 43. 44. 45. 46. 47. 48. 49.]

In [88]:
print(v1+v2)

[40.6 41.7 42.8 43.9 45.  46.1 47.2 48.3 49.4 50.5]

In [89]:
print(v1*v2)

[24.  28.7 33.6 38.7 44.  49.5 55.2 61.1 67.2 73.5]

In [90]:
print(v1-v2)

[-39.4 -40.3 -41.2 -42.1 -43.  -43.9 -44.8 -45.7 -46.6 -47.5]

In [91]:
print(v1**2)

[0.36 0.49 0.64 0.81 1.   1.21 1.44 1.69 1.96 2.25]

In [92]:
print(v1)

[0.6 0.7 0.8 0.9 1.  1.1 1.2 1.3 1.4 1.5]

In [93]:
print(v1+0.4)

[1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9]

In [94]:
print(v1*10)

[ 6.  7.  8.  9. 10. 11. 12. 13. 14. 15.]

In [95]:
print(v1*10+100)

[106. 107. 108. 109. 110. 111. 112. 113. 114. 115.]

## Array Operations 2D

In [96]:
A = np.ones((2,2))
B = np.ones((2,2))

In [97]:
A+B

array([[2., 2.],
       [2., 2.]])

In [98]:
A*10

array([[10., 10.],
       [10., 10.]])

In [99]:
A*B

array([[1., 1.],
       [1., 1.]])

## Matrix dot and cross product

In [100]:
a1 = np.array([[1, 2, -4], [3, -1, 5]])
a2 = np.array([[6, -3], [1, -2], [2, 4]])
a3 = np.array([[3, 3, 2], [7, 8 ,8]])
print(a1)

[[ 1  2 -4]
 [ 3 -1  5]]

In [ ]:
print(a2)

In [ ]:
np.dot(a1,a2)

In [ ]:
np.cross(a1,a3)

## Vectorized/ufuncs

In [101]:
z = np.array([1, 2, 3])
np.sin(z)

array([0.84147098, 0.90929743, 0.14112001])

In [2]:
import numpy as np
import time
x1 = [9, 2, 5, 0, 0, 7, 5, 0, 0, 0, 9, 2, 5, 0, 0]
x2 = [9, 2, 2, 9, 0, 9, 2, 5, 0, 0, 9, 2, 5, 0, 0]

In [3]:
### CLASSIC ELEMENTWISE IMPLEMENTATION ###
tic = time.process_time()
mul = np.zeros(len(x1))
for i in range(len(x1)):
    mul[i] = x1[i]*x2[i]
toc = time.process_time()
print ("elementwise multiplication = " + str(mul) + "\n ----- Computation time = " + str(1000*(toc - tic)) + "ms")

elementwise multiplication = [81.  4. 10.  0.  0. 63. 10.  0.  0.  0. 81.  4. 25.  0.  0.]
 ----- Computation time = 0.3740000000000965ms

In [4]:
### VECTORIZED ELEMENTWISE MULTIPLICATION ###
tic = time.process_time()
mul = np.multiply(x1,x2)
toc = time.process_time()
print ("elementwise multiplication = " + str(mul) + "\n ----- Computation time = " + str(1000*(toc - tic)) + "ms")

elementwise multiplication = [81  4 10  0  0 63 10  0  0  0 81  4 25  0  0]
 ----- Computation time = 0.21800000000005149ms

## Comparisons

In [5]:
z = np.array([2, 3])
y = np.array([2, 3])
z == y

array([ True,  True])

In [7]:
y[0] = 5
y

array([5, 3])

In [8]:
z == y

array([False,  True])

In [9]:
z != y

array([ True, False])

## Linear Algebra

In [10]:
m = np.array(((2,3), (-1, -2)))

In [11]:
print(m)

[[ 2  3]
 [-1 -2]]

In [12]:
print (np.linalg.det(m))

-1.0

In [13]:
a = np.array([[3,1], [1,2]])
b = np.array([9,8])
x = np.linalg.solve(a, b)
x

array([2., 3.])

In [102]:
s=np.array([[1,1,1],[0,2,5],[2,5,-1]])
t=np.array([6,-4,27])
x=np.linalg.solve(s,t)
x

array([ 5.,  3., -2.])